body {
  background-color: #b76935;
  font-family: "Nunito", sans-serif;
}
.lead {
  color: #d8c6a1;
  font-size: 1.125rem;
  font-weight: 100;
  line-height: 1cm;
}
.content {
  margin-top: 100;
}

#h2 {
  color: #306088;
  font-weight: 100;
  font-size: 2.5rem;
}
#navbarmain {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  background-color: #a562368c;
}
#navbarmain .nav-link {
  color: rgba(255, 255, 255, 0.616);
}
#navbarmain .nav-link:hover {
  color: #263c41;
}
#navbarmain .navbar-brand {
  color: #263c41;
}
span {
  color: #306088;
}
#header h1 {
  font-weight: 100;
  font-size: 4rem;
}
.navbar.scrolled {
  background: #815839;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #header h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}

@media (min-width: 993px) {
  #header h1 {
    font-weight: 100;
    font-size: 2rem;
  }
}

@media (max-width: 766px) {
  #h2 {
    margin-top: 30px;
  }
}
